html {
	margin: 0;
}
body {
	margin: 0;
    background-color: $background-color;
}
.container {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
.header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    background-image: $header-gradient;
    transition: transform .2s cubic-bezier(.4,0,.2,1);;
    display: block;
    .navbar-wrapper {
        width: 100%;
        .container {
            &.navbar {
                display: grid;
                grid-template-columns: repeat(24, 1fr);
                .left-components {
                    grid-column: 1/11;
                    display: flex;
                    margin: 5px;
                    .navbar-item {
                        display: inline;
                        text-decoration: none;
                        color: $white;
                        padding: 4.5px 5px;
                        a {
                            text-decoration: none;
                            color: $white;
                        }
                        &:not(:first-child) {
                            margin-left: 8px;
                        }
                        &:not(.non-link, :last-child) {
                            &::after {
                                content: '\007C';
                                font-size: 15px;
                                position: absolute;
                                color: $darkgrey;
                                filter: opacity(0.7);
                                transform: translate(7px, -2px);
                            }
                        }
                        &:last-child {
                            transform: translateX(-13px);
                        }
                    }
                }
                .navbar-spacer {
                    grid-column: 11/16;
                }
                .right-components {
                    grid-column: 16/25;
                    display: flex;
                    margin-left: 5px;
                    .navbar-link {
                        text-decoration: none;
                        color: $white;
                        padding: 9.5px 0;
                        &:not(:first-child) {
                            padding: 10px 0 10px 10px;
                        }
                        &.language {
                            padding: 10px 10px 10px 20px;
                        }
                        &.register {
                            &::after {
                                content: '\007C';
                                font-size: 15px;
                                position: absolute;
                                color: $darkgrey;
                                filter: opacity(0.7);
                                transform: translate(7px, -2px);
                            }
                        }
                        &:last-child {
                            transform: translateX(10px);
                        }
                    }
                }
            }
        }
    }
    .header-with-search-wrapper {
        width: 100%;
        .container {
            &.header-with-search {
                display: grid;
                grid-template-columns: repeat(24, 1fr);
                padding-top: 15px;
                padding-bottom: 2px;
                .logo-section {
                    grid-column: 1/5;
                    font-size: 30px;
                    font-family: "Shopee";
                    letter-spacing: 0.5px;
                    color: $white;
                    transform: translate(18px, 9px);
                }
                .search-section {
                    grid-column: 5/22;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    width: 96.5%;
                    position: relative;
                    margin-left: 3px;
                    margin-right: 100px;
                    .search-field {
                        box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.09);
                        --focus-indicator-spacing: 3px;
                        display: flex;
                        align-items: stretch;
                        justify-content: space-between;
                        height: 2.5rem;
                        box-sizing: border-box;
                        padding: 0.1875rem;
                        border-radius: 2px;
                        background: $white;
                        position: relative;
                        display: flex;
                        flex: 1;
                        .search-area{
                            position: relative;
                            display: flex;
                            flex: 1;
                            .search-bar-form {
                                background-color: $white;
                                border-color: $white;
                                display: flex;
                                flex: 1;
                                box-sizing: border-box;
                                padding: 0 0.625rem;
                                position: relative;
                                .search-bar-input {
                                    display: flex;
                                    flex: 1;
                                    align-items: center;
                                    outline: none;
                                    border: 0;
                                    padding: 0;
                                    margin: 0;
                                }
                            }
                        }
                    }
                    .search-button {
                        position: relative;
                        overflow: visible;
                        outline: 0;
                        background: $button-color;
                        color: $white;
                        height: 34px;
                        padding: 0 15px;
                        min-width: 60px;
                        max-width: 190px;
                        display: inline-flex;
                        text-overflow: ellipsis;
                        -webkit-line-clamp: 1;
                        flex-direction: column;
                        font-size: 14px;
                        box-sizing: border-box;
                        box-shadow: 0 1px 1px 0 $search-box-shadow;
                        border-radius: 2px;
                        border: 0;
                        align-items: center;
                        justify-content: center;
                        text-transform: capitalize;
                        cursor: pointer;
                    }
                    .quick-keywords {
                        width: 100%;
                        display: flex;
                        flex: 1;
                        .keyword-container {
                            margin-top: 0.1875rem;
                            height: 1.5rem;
                            font-size: .75rem;
                            font-weight: 300;
                            line-height: 1.5rem;
                            flex-wrap: wrap;
                            position: relative;
                            overflow-y: clip;
                            width: 100%;
                            display: flex;
                            .keyword {
                                text-decoration: none;
                                position: relative;
                                overflow: visible;
                                outline: 0;
                                white-space: nowrap;
                                display: block;
                                margin-left: 13px;
                                color: $white;
                                height: 0.875rem;
                                line-height: .875rem;
                                margin-top: 0.3125rem;
                                margin-bottom: 0.3125rem;
                                background-color: initial;
                                cursor: pointer;
                                &:first-child {
                                    margin-left: 0;
                                }
                            }
                        }
                    }
                }
                .cart {
                    grid-column: 22/25;
                    font-size: 22px;
                    color: $white;
                    padding: 17px 34px;
                    .cart-link {
                        text-decoration: none;
                        color: $white;
                    }
                }
            }
        }
    }
}