@font-face {
    font-family: "Shopee";
    src: url("/fonts/ShopeeDisplay-Regular.ttf");
};
$theme-color: #ee4d2d;
$button-color: #fb5533;
$white: #ffffff;
$darkgrey: #a9a9a9;
$header-gradient: linear-gradient(-180deg,#f53d2d,#f63);
$background-color: #f5f5f5;
$color-normal-text: rgba(0,0,0,.8);

$search-box-shadow: rgba(0,0,0,.09);