.content-wrapper {
    transition: margin-top .3s cubic-bezier(.4,0,.2,1);
    .content-container {
        min-height: 100vh;
        .container {
            &.main-content {
                margin-top: 1.25rem;
                display: flex;
                .filter-panel {
                    flex: 0 0 11.875rem;
                    min-width: 0; 
                    margin: 0 1.25rem 1.25rem 0;
                    .search-filter-status {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        text-transform: uppercase;
                        color: $color-normal-text;
                        height: 1.875rem;
                        font-weight: 700;
                        font-size: 1rem;
                    }
                }
                .displayed-content {
                    flex: 1;
                    width: 0;
                    min-width: 0;
                }
            }
        }
    }
}